body {
    background-color: #e5e5e5;
    display: flex;
    justify-content:center;
    align-items:center;
}

.container{
    width: 768px;
    border: black 2px solid;
}

.header{
    align-items: flex-start;
    padding: 10px;
    text-align: center;
    justify-content: space-around;
    border: black 2px solid;
    width: 768px;
}

.sub-header{
    text-align: center;
}

.parent{
    width: 768px;
}

.child{
    border: black 2px solid;
}
